#breadcrumb {
  margin: 0;
  position: relative;
  top: -20px;
}

#breadcrumb > ul {
  margin: 0;
  padding: 0;
}

#breadcrumb > ul > li {
  display: inline-block;
  margin-right: 10px;
}

#breadcrumb > ul > li::after {
  content: ">";
  margin-left: 10px;
}

#breadcrumb > ul > li:last-of-type::after {
  content: "";
}

#breadcrumb > ul > li:last-of-type {
  text-decoration: none;
  color: #aaaaaa;
}

#breadcrumb > ul > li > a {
  color: #0489af;
}

#breadcrumb > ul > li > a:hover {
  color: #00bcf2;
}

#breadcrumb > ul > li > a > img {
  width: 15px;
  position: relative;
  top: 5px;
  margin-right: 5px;
}