.filtros {
  width: 99%;
  padding: 5px;
  margin: 0 auto;
  display: block;
  background: white;
  padding-bottom: 20px;
}

.filtros > p {
  text-align: center;
}

.filtros > div {
  width: 90%;
  border: 1px solid #dddddd;
  margin: 0 auto 10px;
  padding: 5px 15px;
  cursor: pointer;
}

.filtros > div > p {
  text-transform: uppercase;
}

.filtros > div > p > span {
  float: right;
  font-weight: bold;
  font-size: 1.3em;
}

.filtros > div > * {
  display: none;
}

.filtros > div > p {
  display: block;
}

.filtros > div > ul {
  padding: 0;
}

.filtros > div > ul > li {
  background: white;
  border: 1px solid black;
  display: inline-block;
  border-radius: 10px;
  padding: 5px 12px;
  margin-right: 5px;
  margin-bottom: 10px;
  text-transform: capitalize;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.filtros > div > ul > li:hover,
.filtros > div > ul > li.activo {
  border: 1px solid #dddddd;
  border: 1px solid #0489af;
}

.filtros > .talla > div > ul {
  padding: 0;
}

.filtros > .talla > div > ul > li {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 2em;
  font-size: 1.5em;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.filtros > .talla > div > ul > li.todas {
  width: 80px;
  text-transform: uppercase;
}

.filtros > .talla > div > ul > li:hover,
.filtros > .talla > div > ul > li.activo {
  border: 1px solid #0489af;
  color: #0489af;
}

.filtros > span.cantidad {
  text-align: center;
  display: block;
  font-size: 0.9em;
  margin: 30px 0 0;
}

@media (max-width: 850px) {
  .filtros {
    width: 97%;
  }

  .filtros > .marca > ul > li {
    display: inline-block;
    margin-bottom: 10px;
  }
}
@media (max-width: 450px) {
  .filtros > div {
    width: 80%;
  }
}