header {
  background: transparent;
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

header.nohome {
  background: white;
}

header .logo {
  width: 270px;
  height: auto;
  margin: 30px 0 0 20px;
  display: inline-block;
}

header .logo img {
  width: 100%;
}

header nav {
  float: right;
  display: inline-block;
  width: 400px;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  padding: 0 20px;
  text-transform: uppercase;
}

header .buscador {
  float: right;
  margin: 20px 10px 0 0;
  cursor: pointer;
}

header .buscador:hover {
  opacity: 0.5;
}

header .buscador > div {
  border: 1px solid black;
  border-radius: 10px;
  height: 40px;
}

header .buscador > div > input {
  height: 40px;
  background: none;
  border: none;
  outline: none;
  color: black;
  text-indent: 10px;
}

header .buscador > div > img {
  width: 20px;
  top: 5px;
  position: relative;
  padding-right: 8px;
}

@media (max-width: 850px) {
  header {
    background: white;
  }

  header .logo {
    width: 80%;
    margin: 30px auto 0;
    display: block;
  }

  header .buscador {
    margin: 20px auto 0;
    display: block;
    float: none;
    width: 210px;
  }
}
@media (max-width: 450px) {
  header .buscador img {
    width: 30px;
  }
}