.productos {
  background: white;
  -webkit-box-shadow: 0 7px 10px -9px #cccccc;
          box-shadow: 0 7px 10px -9px #cccccc;
}

.productos > ul {
  padding: 0;
}

.productos > ul > li {
  width: 295px;
  width: calc( 24% - 20px );
  min-height: 190px;
  display: inline-block;
  list-style: none;
  padding: 3px;
  border: 1px solid transparent;
  margin: 15px 0;
  cursor: pointer;
  margin-right: calc( 2% - 10px );
}

.productos > ul > li:hover {
  opacity: 0.8;
}

.productos > ul > li.hide {
  display: none;
}

.productos > ul > li > a {
  text-decoration: none;
}

.productos > ul > li.show {
  display: inline-block;
}

.productos > ul > li > a span {
  display: block;
  text-align: center;
}

.productos > ul > li > a span.marca {
  text-transform: capitalize;
  color: black;
}

.productos > ul > li > a span.modelo {
  color: black;
  text-transform: capitalize;
  font-weight: 600;
}

.productos > ul > li > a span.id,
.productos > ul > li > a span.color {
  display: none;
}

.productos > ul > li > a span.precio {
  font-weight: bold;
  font-size: 1.3em;
  margin: 4px 0;
  color: #bc272b;
}

.productos > ul > li > a span.talla {
  color: #aaa;
  display: none;
}

.productos > ul > li > a > img {
  max-width: 100%;
  max-height: 250px;
  max-height: 130px;
  width: auto;
  clear: left;
  display: block;
  margin: 0 auto 10px;
}

.productos > img.cargando {
  margin: 0 auto;
  display: block;
  width: 20%;
}

@media (max-width: 850px) {
  .productos > ul > li {
    width: calc(33% - 30px);
  }
}
@media (max-width: 450px) {
  .productos > ul > li {
    width: 97%;
    min-height: 100px;
  }

  .productos > ul > li > a > img {
    max-width: 130px;
    max-height: 120px;
    display: inline-block;
    position: absolute;
  }

  .productos > ul > li > a span {
    margin-left: 140px;
    text-align: left;
  }

  .productos > ul > li > a span.precio {
    margin-left: 140px;
    font-weight: 400;
  }
}