.seguimiento {
  width: 85%;
  background: white;
  margin: 20px auto 0;
  padding: 20px;
}

.seguimiento h1 {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.seguimiento h3 {
  text-transform: uppercase;
}

.seguimiento > .buscador {
  width: 440px;
  height: 55px;
  margin: 0 auto 20px;
  position: relative;
  border: 1px solid #ccc;
}

.seguimiento > .buscador > input {
  position: relative;
  height: 50px;
  width: calc(100% - 70px);
  border: none;
  top: 3px;
  padding: 0 10px;
  outline: none;
  font-size: 1.3em;
}

.seguimiento > .buscador > img {
  width: 40px;
  height: 40px;
  background-color: #7fddf9;
  display: block;
  position: absolute;
  right: 2px;
  top: 2px;
  padding: 5px;
  cursor: pointer;
}

.seguimiento > .buscador > img:hover {
  background: #0489af;
}

.seguimiento .covid {
  margin-top: 30px;
  border: 1px solid #ddd;
  width: 440px;
  margin: 70px auto 0;
}

.seguimiento .covid h3 {
  background: #eee;
  margin: 0;
  position: relative;
  top: 0px;
  padding: 10px 10px 10px 40px;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.seguimiento .covid h3 img {
  width: 25px;
  margin: 10px;
  position: absolute;
  top: -3px;
  left: 0;
}

.seguimiento .covid p {
  padding: 10px;
}

.seguimiento .resultado {
  width: 440px;
  margin: 0 auto 20px;
  border: 1px solid #ccc;
}

.seguimiento .resultado > p.cargando {
  text-align: center;
  display: none;
}

.seguimiento .resultado > p.cargando > img {
  width: 30px;
  margin-right: 10px;
}

.seguimiento .resultado .error {
  text-align: center;
}

.seguimiento .resultado .error > p {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 10px;
}

.seguimiento .resultado .correcto > .compra {
  padding: 10px;
}

.seguimiento .resultado .correcto > .compra > img {
  width: 200px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.seguimiento .resultado .correcto > .compra > p {
  text-transform: capitalize;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.seguimiento .resultado .correcto > .compra > p.talla {
  font-weight: 300;
  font-size: 1em;
}

.seguimiento .resultado .correcto > .compra > .estado {
  border: 1px solid #ccc;
  width: 120px;
  padding: 5px;
  display: inline-block;
  margin-top: 20px;
}

.seguimiento .resultado .correcto > .compra > .estado > img {
  width: 60px;
  margin: 0 auto;
  display: block;
}

.seguimiento .resultado .correcto > .compra > .estado > p {
  font-size: 0.9em;
  text-align: center;
  margin: 0;
}

.seguimiento .resultado .correcto > .historial {
  clear: left;
  margin-top: 30px;
  display: inline-block;
}

.seguimiento .resultado .correcto > .historial > ul {
  list-style: none;
  border-left: 1px solid #ddd;
  margin-left: 20px;
  padding-left: 21px;
}

.seguimiento .resultado .correcto > .historial > ul > li {
  line-height: 3em;
  position: relative;
  opacity: 0.7;
}

.seguimiento .resultado .correcto > .historial > ul > li span {
  position: absolute;
  top: 16px;
  left: -28px;
  background: white;
  border: 3px solid #aaa;
  width: 7px;
  height: 7px;
  display: block;
  border-radius: 50%;
}

.seguimiento .resultado .correcto > .historial > ul > li.activo {
  font-weight: 600;
  opacity: 1;
}

.seguimiento .resultado .correcto > .historial > ul > li.pasado {
  text-decoration: line-through;
}

.seguimiento .resultado .correcto > .historial > ul > li.pasado.activo {
  text-decoration: none;
}

.seguimiento .resultado .correcto > .historial > ul > li.activo span {
  border: 3px solid #7fddf9;
}

.seguimiento .resultado .correcto > .historial > ul > li.estado0.activo span {
  border: 3px solid #f97f7f;
}

.seguimiento .resultado .correcto > .historial > ul > li.estado10.activo span {
  border: 3px solid #62d02e;
}

@media (max-width: 450px) {
  .seguimiento > .buscador,
.seguimiento .resultado,
.seguimiento > .covid {
    width: 90%;
  }

  .seguimiento .resultado .correcto > .compra > img {
    display: block;
    margin: 0 auto;
    float: none;
    width: 100%;
  }

  .seguimiento .resultado .correcto > .compra > p {
    text-align: center;
  }

  .seguimiento .resultado .correcto > .compra > .estado {
    margin: 30px auto 0;
    display: block;
  }
}