div#breadcrumb
	link(rel="stylesheet" href="css/breadcrumb.min.css")
	
	script( type="text/javascript" ).
		$( document ).ready(function(){
			setTimeout(function(){
				var data = {
					"marca" : $( ".getDetalle > div > p.marca" ).html() ,
					"modelo" : $( ".getDetalle > div > p.modelo" ).html() ,
				};
				$( $( "#breadcrumb > ul > li" )[2] ).html( data.modelo );
				
				if( data.marca.length >= 2 ) {
					$( "div#breadcrumb" ).append( `
						<ul itemscope itemtype="http://schema.org/BreadcrumbList">
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								<a itemprop="item" href="/" title="Inicio">
									<img class="lazyload" data-src="/imagenes/detalle/home.svg" alt="Inicio" />
									<span itemprop="name">Inicio</span>
								</a>
								<meta itemprop="position" content="1" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								<a itemprop="item" href="/marca.html?marca=${data.marca}" title="${capitalize(data.marca)}">
									<span itemprop="name">
										${capitalize(data.marca)}
									</span>
								</a>
								<meta itemprop="position" content="2" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								<span itemprop="name">
									${capitalize(data.modelo)}
								</span>
								<meta itemprop="position" content="3" />
							</li>
						</ul>
					` );
				} else {
					$( "div#breadcrumb" ).hide();
				}
			},1000);
		});