
.buscador.paraScrollLupa
	link(rel="stylesheet" href="css/buscador.min.css")
	
	h3 Buscar
	input.buscador( type="text" placeholder="Marca / Modelo" )
	span.cantidad
	
	//- DEPENDE DEL PARAMETRO BUSCA
	script( type="text/javascript" ).
		setTimeout(function(){
			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);
			const buscarEsto = urlParams.get('buscador');
			if ( window.location.search ) {
				buscar( buscarEsto );
				cuentaProductos();
				$('html, body').animate({
					scrollTop: $( '.buscador.paraScrollLupa' ).offset().top
				}, 500);
			}
		},800);
		