
.filtros
	link(rel="stylesheet" href="css/filtros.min.css")
	p Filtrar
	
	div.marca
		p marca
			span +
			span( style="display:none;" ) -
		ul.toggle
			li 
				img( class="lazyload" data-src="./imagenes/marcas/todas.svg" alt="Todas las marcas" )
	
	//- div.talla
	//- 	p talla
	//- 		span +
	//- 		span( style="display:none;" ) -
	//- 	ul.toggle
	//- 		li 
	//- 			img( class="lazyload" data-src="./imagenes/marcas/todas.svg" alt="Todas las marcas" )
	
	span.cantidad

	script( type="text/javascript" ).
		$( ".filtros > div" ).click( function(){
			$( this ).find( "span" ).toggle();
			$( this ).find( ".toggle" ).toggle();
		} );