
.filtros
	link(rel="stylesheet" href="css/filtros.min.css")
	p Filtrar
	
	fieldset.talla
		legend Tallas
		select
			option( value="todas" ) todas
			option( value="34" ) 34 EUR
			option( value="35" ) 35 EUR
			option( value="36" ) 36 EUR
			option( value="37" ) 37 EUR
			option( value="38" ) 38 EUR
			option( value="39" ) 39 EUR
			option( value="40" ) 40 EUR
			option( value="41" ) 41 EUR
			option( value="42" ) 42 EUR
			option( value="43" ) 43 EUR
			option( value="44" ) 44 EUR
			option( value="45" ) 45 EUR
			option( value="46" ) 46 EUR
			option( value="47" ) 47 EUR
			option( value="48" ) 48 EUR
			option( value="49" ) 49 EUR
	
	fieldset.color
		legend Color
		select
			option( value="todas" ) todos
			option( value="negro" ) negro
			option( value="amarillo" ) amarillo
			option( value="rojo" ) rojo
			option( value="blanco" ) blanco
			option( value="rosado" ) rosado
			option( value="celeste" ) celeste
			option( value="naranjo" ) naranjo
			option( value="menta" ) menta
			option( value="morado" ) morado
			option( value="verde" ) verde
			option( value="fluor" ) fluor
			option( value="burdeo" ) burdeo
			option( value="cafe" ) cafe
			option( value="gris" ) gris
			option( value="dorado" ) dorado
			option( value="azul" ) azul
			option( value="arcoiris" ) arcoiris
			option( value="transparente" ) transparente
			option( value="cyan" ) cyan
			option( value="plateado" ) plateado
			option( value="vainilla" ) vainilla
			option( value="durazno" ) durazno
	
	button.aplicar Aplicar
	button.limpiar Limpiar Filtro
	
	script( type="text/javascript" ).
		$( ".filtros > button.aplicar" ).click(function(){
		
			var busca_talla = $( ".filtros fieldset.talla select" ).val();
			var busca_color = $( ".filtros fieldset.color select" ).val();
			
			if ( busca_talla == "todas" && busca_color == "todas" ) {
				$( ".productos > ul li" ).show();
				
				cuentaProductos( "h3.resultados" );
			} else if ( busca_talla == "todas" || !busca_color == "todas" ) {
				$( ".productos > ul li" ).show();
				$.each( $( ".productos > ul li:visible" ) , function(){
		
					var colores  = $( this ).attr( "data-color" );
					
					if ( colores.includes( busca_color ) ) {
						$( this ).show();
						$( this ).css( "display" , "inline-block" );
					} else {
						$( this ).hide();
					};
					
				});
				cuentaProductos( "h3.resultados" );
			} else if ( !busca_talla == "todas" || busca_color == "todas" ) {
				$( ".productos > ul li" ).show();
				$.each( $( ".productos > ul li:visible" ) , function(){
		
					var tallas  = $( this ).attr( "data-talla" );
					
					if ( tallas.includes( busca_talla ) ) {
						$( this ).show();
						$( this ).css( "display" , "inline-block" );
					} else {
						$( this ).hide();
					};
					
				});
				cuentaProductos( "h3.resultados" );
			} else {
				$( ".productos > ul li" ).show();
				$.each( $( ".productos > ul li:visible" ) , function(){
		
					var tallas  = $( this ).attr( "data-talla" );
					
					if ( tallas.includes( busca_talla ) ) {
						$( this ).show();
						$( this ).css( "display" , "inline-block" );
					} else {
						$( this ).hide();
					};
					
				});
				
				$.each( $( ".productos > ul li:visible" ) , function(){
		
					var colores  = $( this ).attr( "data-color" );
					
					if ( colores.includes( busca_color ) ) {
						$( this ).show();
						$( this ).css( "display" , "inline-block" );
					} else {
						$( this ).hide();
					};
					
				});
				
				cuentaProductos( "h3.resultados" );
			}
			
		});
		
		$( ".filtros > button.limpiar" ).click(function(){
			$( ".filtros fieldset.talla select" ).val( "todas" );
			$( ".filtros fieldset.color select" ).val( "todas" );
			$( ".filtros > button.aplicar" ).click();
		});