
.filtros
	link(rel="stylesheet" href="css/filtros.min.css")
	p Filtrar
	
	fieldset.talla
		legend Tallas
		select
			option( value="todas" ) todas
			option( value="34" ) 34
			option( value="35" ) 35
			option( value="36" ) 36
			option( value="37" ) 37
			option( value="38" ) 38
			option( value="39" ) 39
			option( value="40" ) 40
			option( value="41" ) 41
			option( value="42" ) 42
			option( value="43" ) 43
			option( value="44" ) 44
			option( value="45" ) 45
			option( value="46" ) 46
			option( value="47" ) 47
			option( value="48" ) 48
			option( value="49" ) 49
	
	//- fieldset.color
	//- 	legend Color
	//- 	select
			option( value="todas" ) todas
			option( value="negro" ) Negro
			option( value="amarillo" ) Amarillo
			option( value="rojo" ) Rojo
			option( value="blanco" ) Blanco
			option( value="rosado" ) Rosado
			option( value="celeste" ) Celeste
			option( value="naranjo" ) Naranjo
			option( value="menta" ) Menta
			option( value="morado" ) Morado
			option( value="verde" ) Verde
			option( value="fluor" ) Fluor
			option( value="burdeo" ) Burdeo
			option( value="cafe" ) Cafe
			option( value="gris" ) Gris
			option( value="dorado" ) Dorado
			option( value="azul" ) Azul
			option( value="arcoiris" ) Arcoiris
			option( value="transparente" ) Transparente
			option( value="cyan" ) Cyan
			option( value="plateado" ) Plateado
			option( value="vainilla" ) Vainilla
			option( value="durazno" ) Durazno
	
	script( type="text/javascript" ).
		$( ".filtros > fieldset select" ).change(function(){
			var tallaBuscada = $( ".filtros > fieldset select" ).val();
			$.each( $( ".productos > ul > li" ) , function(){
				var tallas = $( this ).attr( "data-talla" );
				filtrarPorTalla( tallaBuscada );
				cuentaProductos( "h3.resultados" );
			});
		});
	