

header
	script( type="text/javascript" ).
		if( location.pathname == "/" ) {
			$( "header" ).addClass( "home" );
		} else {
			$( "header" ).addClass( "nohome" );
		};
	link(rel="stylesheet" href="css/header.min.css")
	
	div.logo
		a( href="/" title="Click Zapatilla" )
			img( src="./imagenes/logo.png" alt="clickZAPATILLA" )

	div.categorias( style="display:none;" )
	
		style( type="text/css" ).
			header div.categorias {
				float: right;
				margin: 20px 30px 0 20px;
				cursor: pointer;
			}
			header div.categorias > p {
				text-transform: uppercase;
				letter-spacing: 0.05em;
			}
			header div.categorias > p > img {
				width: 10px;
				margin-left: 10px;
				position: relative;
				top: -2px;
			}
		p categorias
			img.lazyload( data-src="./imagenes/header/arrow.svg" alt="categorias" )
	
		//- Si estamos dev muestra el avance
		script( type="text/javascript" ).
			var devmode = location.origin.includes( "localhost:" );
			//- if( devmode ) {
			//- 	$( "header div.categorias" ).show();
			//- };
		
	div.buscador 
		div
			input( type="search" )
			img( src="./imagenes/header/lupa.svg" alt="buscar" )
		
			//- CLICK LUPA
			script( type="text/javascript" ).
				$( "header .buscador > div > img" ).click(function(){
					var valor = $( "header .buscador > div > input" ).val();
					//- window.open( location.origin + "?buscador=" + valor , "_self" );
					window.open( location.origin + "/busqueda.html?buscador=" + valor , "_self" );
				});
		
			//- DEPENDE DEL PARAMETRO BUSCA
			script( type="text/javascript" ).
				setTimeout(function(){
					const queryString = window.location.search;
					const urlParams = new URLSearchParams(queryString);
					const buscarEsto = urlParams.get('buscador');
					if ( buscarEsto ) {
						if ( window.location.search ) {
							buscar( buscarEsto );
							cuentaProductos();
							//- $('html, body').animate({
							//- 	scrollTop: $( '.buscador.paraScrollLupa' ).offset().top
							//- }, 500);
						}
					}
				},800);
				
			//- ESCRIBIENDO EN EL BUSCADOR
			script( type="text/javascript" ).
				//- $( "input.buscador" ).keyup(function() {
				$( "header .buscador > div > input" ).keyup(function() {
					document.onkeydown = function(evt) {
						evt = evt || window.event;
						var isEnter = false;
						if ("key" in evt) {
							isEnter = ( evt.key === "Enter" );
						} else {
							isEnter = ( evt.keyCode === 13 );
						}
						if (isEnter) {
							$( "header .buscador > div > img" ).click();
						}
					};
					$( ".filtros > .marca > ul > li" ).removeClass( "activo" );
					var valor = $( this ).val();
					buscar( valor );
					cuentaProductos();
				});
	