

header
	link(rel="stylesheet" href="css/header.min.css")
	
	.contenedor
		div.logo
			img( src="./imagenes/logo.png" alt="clickZAPATILLA" )
		div.buscador 
			img( src="./imagenes/lupa.svg" alt="buscar" )
	
	.buscadorgrande-fondo
	.buscadorgrande-contenido
		span X
		input( type="text" placeholder="Marca / Modelo" )
		button BUSCAR
	
		//- Si no estas en el home el link del logo es hacia el home
		script( type="text/javascript" ).
			
			if(  location.pathname == "/" ) {
				$( "header" ).addClass( "home" );
			} else {
				$( "header" ).addClass( "nohome" );
				var logo = $( ".contenedor .logo" ).html();
				$( ".contenedor .logo" ).html( `<a href="/">${logo}</a>` );
			};
			/*
			if( location.href.includes( "?id=" ) || location.href.includes( "bodega" ) ) {
				$( "header" ).addClass( "nohome" );
				var logo = $( ".contenedor .logo" ).html();
				$( ".contenedor .logo" ).html( `<a href="/">${logo}</a>` );
			} else {
				$( "header" ).addClass( "home" );
			};
			*/
			
		//- Click Logo, clean val buscador
		script( type="text/javascript" ).
			$( "header .logo" ).click(function(){
				$( ".buscador > input" ).val( "" );
				$( ".productos li" ).removeClass( "hide" );
				$( ".productos li" ).removeClass( "show" );
				$( ".buscador .filtros > ul > li" ).removeClass( "activo" );
			});
		
		//- Click Lupa, scroll to buscador
		script( type="text/javascript" ).
			$( "header.home .buscador" ).click(function(){
				$('html, body').animate({
					scrollTop: $( '.buscador.paraScrollLupa' ).offset().top
				}, 1000);
				
				setTimeout(function(){
					$( ".buscador > input" ).addClass( "focus" );
					setTimeout(function(){
						$( ".buscador > input" ).removeClass( "focus" );
					},500);
				},1000);
			});
			
		//- BUSCADOR GRANDE
		script( type="text/javascript" ).
			$( "header.nohome .contenedor .buscador" ).click(function(){
				$( ".buscadorgrande-fondo" ).toggle();
				$( ".buscadorgrande-contenido" ).toggle();
				console.log( `Activando ...` );
			});
			$( ".buscadorgrande-contenido span" ).click(function(){
				$( ".buscadorgrande-fondo" ).toggle();
				$( ".buscadorgrande-contenido" ).toggle();
			});
			document.onkeydown = function(evt) {
				evt = evt || window.event;
				var isEscape = false;
				if ("key" in evt) {
					isEscape = (evt.key === "Escape" || evt.key === "Esc");
				} else {
					isEscape = (evt.keyCode === 27);
				}
				if (isEscape) {
					$( ".buscadorgrande-fondo" ).toggle();
					$( ".buscadorgrande-contenido" ).toggle();
				}
			};
			$( ".buscadorgrande-contenido button" ).click(function(){
				var busquemos = $( ".buscadorgrande-contenido input" ).val();
				window.open( location.origin + "?buscador=" + busquemos , "_self" );
			});



