

header
	link(rel="stylesheet" href="css/header.min.css")
	
	div.logo
		a( href="/" title="Click Zapatilla" )
			img( src="./imagenes/logo.png" alt="clickZAPATILLA" )
	div.buscador 
		div
			input( type="search" )
			img( src="./imagenes/lupa.svg" alt="buscar" )
		
			//- CLICK LUPA
			script( type="text/javascript" ).
				$( "header .buscador > div > img" ).click(function(){
					console.log( `Click` )
					var valor = $( "header .buscador > div > input" ).val();
					console.log( `Buscando: ${valor}` )
					window.open( location.origin + "?buscador=" + valor , "_self" );
				});
		
			//- DEPENDE DEL PARAMETRO BUSCA
			script( type="text/javascript" ).
				setTimeout(function(){
					const queryString = window.location.search;
					const urlParams = new URLSearchParams(queryString);
					const buscarEsto = urlParams.get('buscador');
					if ( buscarEsto ) {
						if ( window.location.search ) {
							buscar( buscarEsto );
							cuentaProductos();
							//- $('html, body').animate({
							//- 	scrollTop: $( '.buscador.paraScrollLupa' ).offset().top
							//- }, 500);
						}
					}
				},800);
				
			//- ESCRIBIENDO EN EL BUSCADOR
			script( type="text/javascript" ).
				//- $( "input.buscador" ).keyup(function() {
				$( "header .buscador > div > input" ).keyup(function() {
					document.onkeydown = function(evt) {
						evt = evt || window.event;
						console.log( `evento: ${evt.key} ${evt.keyCode}` );
						var isEnter = false;
						if ("key" in evt) {
							isEnter = ( evt.key === "Enter" );
						} else {
							isEnter = ( evt.keyCode === 13 );
						}
						if (isEnter) {
							$( "header .buscador > div > img" ).click();
						}
					};
					$( ".filtros > .marca > ul > li" ).removeClass( "activo" );
					var valor = $( this ).val();
					buscar( valor );
					cuentaProductos();
				});
	
	//- Si no estas en el home el link del logo es hacia el home
	script( type="text/javascript" ).
		
		if(  location.pathname == "/" ) {
			$( "header" ).addClass( "home" );
		} else {
			$( "header" ).addClass( "nohome" );
			var logo = $( ".contenedor .logo" ).html();
			$( ".contenedor .logo" ).html( `<a href="/">${logo}</a>` );
		};
		
	//- Click Logo, clean val buscador
	script( type="text/javascript" ).
		/*
		$( "header .logo" ).click(function(){
			$( ".buscador > input" ).val( "" );
			$( ".productos li" ).removeClass( "hide" );
			$( ".productos li" ).removeClass( "show" );
			$( ".buscador .filtros > ul > li" ).removeClass( "activo" );
		});
		*/
	
	//- Click Lupa, scroll to buscador
	script( type="text/javascript" ).
		/*
		$( "header.home .buscador" ).click(function(){
			$('html, body').animate({
				scrollTop: $( '.buscador.paraScrollLupa' ).offset().top
			}, 1000);
			
			setTimeout(function(){
				$( ".buscador > input" ).addClass( "focus" );
				setTimeout(function(){
					$( ".buscador > input" ).removeClass( "focus" );
				},500);
			},1000);
		});
		*/





