
div.marcas.bloqueContenido
	h3.titulo marcas
	link(rel="stylesheet" href="css/marcasEnLista.min.css")
	ul
		li 
			a( href="/marca.html?marca=todas" title="Todas las marcas" )
				img.lazyload( data-src="./imagenes/marcas/todas-blanco.svg" alt="Todas las marcas" )

	script( type="text/javascript" ).
		getProdByLogo( ".marcas.bloqueContenido ul" );
		
		