
.productos.recienLLegados.bloqueContenido
	link(rel="stylesheet" href="css/productos.min.css")
	style( type="text/css" ).
		.productos > a.vertodos {
			width: 230px;
			background: #00bcf2;
			color: #fff;
			margin: 0 auto 20px;
			display: block;
			border: 1px solid #0a82a5;
			height: 40px;
			text-transform: uppercase;
			text-align: center;
			line-height: 2.8em;
			font-size: 1em;
			letter-spacing: .05em;
			text-decoration: none;
		}
	
	h3.titulo Recien LLegados
	ul
	
	script( type="text/javascript" ).
		//- var recienLLegados = [ 483 , 420 , 270 , 96 , 302 , 164 , 154 , 226 , 128 , 79 , 23 , 50 ];
		var recienLLegados = [ 574 , 575 , 576 , 577 , 578 , 579 , 580 , 581 , 582 , 583 , 584 , 585 , 586 , 587 , 588 , 589 , 590 , 591 , 592 , 593 , 594 , 595 , 596 ];
		var recienLLegados = [ 618 , 619 , 620 , 621 , 622 , 623 , 624 , 625 , 626 , 627 , 628 , 629 , 630 , 631 , 632 , 633 , 634 , 635 , 636 , 637 , 638 , 639 , 640 ];
		for( var count = 0; count <= recienLLegados.length-1; count++ ) {
			getProdByID( recienLLegados[count] , ".productos.recienLLegados > ul" );
			if ( count == recienLLegados.length-1 ) {
				$( ".productos.recienLLegados" ).append( `<a class="vertodos" href="/marca.html?marca=todas">ver todos los modelos</a>` );
			};
		};
	