
.recienLLegados.bloqueContenido
	link(rel="stylesheet" href="css/recienLLegados.min.css")
	
	h3.titulo Recien LLegados
	.productos
		link(rel="stylesheet" href="css/productos.min.css")
		ul
	
	script( type="text/javascript" ).
		var recienLLegados = [ 483 , 420 , 270 , 96 , 302 , 164 , 154 , 226 , 128 , 79 , 23 , 50 ];
		for( var count = 0; count <= recienLLegados.length-1; count++ ) {
			getProdByID( recienLLegados[count] , ".recienLLegados > .productos > ul" );
		};
	
