
.productos.recienLLegados.bloqueContenido
	link(rel="stylesheet" href="css/productos.min.css")
	style( type="text/css" ).
		.productos > a.vertodos {
			width: 230px;
			background: #00bcf2;
			color: #fff;
			margin: 0 auto 20px;
			display: block;
			border: 1px solid #0a82a5;
			height: 40px;
			text-transform: uppercase;
			text-align: center;
			line-height: 2.8em;
			font-size: 1em;
			letter-spacing: .05em;
			text-decoration: none;
		}
	
	h3.titulo Recien LLegados
	ul
	
	script( type="text/javascript" ).
		var recienLLegados = [ 786 , 787 , 788 , 789 , 790 , 791 , 792 , 793 , 794 , 795 , 796 , 797 , 798 , 799 , 800 , 801 , 802 , 803 , 804 , 805 , 806 , 807 , 808 ];
		var recienLLegados = [ 1016 , 1017 , 1018 , 1019 , 1020 , 1021 , 1022 , 1023 , 1024 , 1025 , 1026 , 1027 , 1028 , 1029 , 1030 , 1031 , 1032 , 1033 , 1034 , 1035 , 1036 , 1037 , 1038 ];
		for( var count = 0; count <= recienLLegados.length-1; count++ ) {
			getProdByID( recienLLegados[count] , ".productos.recienLLegados > ul" );
			//- if ( count == recienLLegados.length-1 ) {
			//- 	$( ".productos.recienLLegados" ).append( `<a class="vertodos" href="/marca.html?marca=todas">ver todos los modelos</a>` );
			//- };
		};
	