doctype html
html(lang="es")
	head
		
		include ../_pug/_component/head
		
	body
		
		script(src="../js/functions.min.js")
		
		include ../_pug/_component/analytics
		
		include ../_pug/_component/barraSuperior
		include ../_pug/_component/header
		
		//- link(rel="stylesheet" href="css/seguimientoPedido.min.css")
		
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
		.admin
			p.cantidad
				span 0
				|  visibles
			button activar
				
		style( type="text/css" ).
			.colores > p.si {
				display:none;
			}

		.colores
			p color
			p blanco
			p negro
			p negro
			p blanco
			p blanco
			p negro
			p amarillo
			p negro
			p rosado
			p negro
			p naranjo
			p blanco
			p negro
			p morado
			p blanco
			p rosado
			p celeste
			p rosado
			p rojo
			p azul
			p blanco
			p negro
			p blanco
			p rojo
			p azul
			p negro
			p blanco
			p negro
			p rosado
			p gris
			p rosado
			p negro
			p rojo
			p azul
			p azul
			p rojo
			p negro
			p rosado
			p negro
			p naranjo
			p blanco
			p rosado
			p negro
			p rosado
			p gris
			p verde
			p rosado
			p gris
			p verde
			p azul
			p blanco
			p blanco
			p celeste
			p negro
			p rosado
			p blanco
			p amarillo
			p gris
			p negro
			p morado
			p vainilla
			p negro
			p blanco
			p gris
			p naranjo
			p blanco
			p gris
			p negro
			p naranjo
			p cafe
			p negro
			p amarillo
			p rojo
			p blanco
			p negro
			p vainilla
			p negro
			p negro
			p negro
			p blanco
			p negro
			p naranjo
			p negro
			p verde
			p verde
			p azul
			p azul
			p naranjo
			p blanco
			p negro
			p blanco
			p morado
			p azul
			p blanco
			p rojo
			p negro
			p blanco
			p verde
			p cafe
			p amarillo
			p rosado
			p burdeo
			p blanco
			p blanco
			p rosado
			p blanco
			p rosado
			p rojo
			p blanco
			p negro
			p blanco
			p blanco
			p negro
			p blanco
			p verde
			p blanco
			p verde
			p azul
			p blanco
			p rojo
			p blanco
			p cafe
			p blanco
			p negro
			p cafe
			p naranjo
			p blanco
			p naranjo
			p blanco
			p gris
			p blanco
			p negro
			p blanco
			p negro
			p transparente
			p blanco
			p transparente
			p negro
			p blanco
			p rojo
			p blanco
			p verde
			p rojo
			p rojo
			p blanco
			p rojo
			p blanco
			p burdeo
			p gris
			p celeste
			p negro
			p naranjo
			p amarillo
			p blanco
			p blanco
			p amarillo
			p negro
			p naranjo
			p negro
			p negro
			p naranjo
			p gris
			p verde
			p rojo
			p dorado
			p blanco
			p cafe
			p naranjo
			p negro
			p blanco
			p blanco
			p azul
			p rojo
			p negro
			p azul
			p negro
			p rojo
			p negro
			p azul
			p rojo
			p negro
			p blanco
			p blanco
			p negro
			p blanco
			p morado
			p amarillo
			p blanco
			p rosado
			p amarillo
			p rosado
			p blanco
			p arcoiris
			p gris
			p negro
			p blanco
			p rojo
			p blanco
			p negro
			p amarillo
			p verde
			p negro
			p rojo
			p negro
			p negro
			p rosado
			p dorado
			p rojo
			p blanco
			p rosado
			p morado
			p negro
			p rojo
			p blanco
			p amarillo
			p rojo
			p fluor
			p negro
			p dorado
			p naranjo
			p gris
			p gris
			p azul
			p negro
			p rojo
			p blanco
			p negro
			p rojo
			p negro
			p amarillo
			p rojo
			p negro
			p azul
			p negro
			p negro
			p rojo
			p negro
			p amarillo
			p negro
			p naranjo
			p negro
			p rojo
			p negro
			p arcoiris
			p negro
			p verde
			p negro
			p dorado
			p negro
			p rojo
			p blanco
			p rojo
			p blanco
			p rojo
			p blanco
			p negro
			p negro
			p blanco
			p blanco
			p gris
			p verde
			p rojo
			p blanco
			p negro
			p blanco
			p negro
			p blanco
			p burdeo
			p blanco
			p negro
			p azul
			p blanco
			p blanco
			p rojo
			p blanco
			p negro
			p blanco
			p rojo
			p blanco
			p azul
			p blanco
			p rojo
			p blanco
			p negro
			p blanco
			p burdeo
			p blanco
			p gris
			p negro
			p verde
			p negro
			p negro
			p blanco
			p negro
			p negro
			p blanco
			p gris
			p negro
			p blanco
			p arcoiris
			p negro
			p arcoiris
			p rosado
			p arcoiris
			p negro
			p blanco
			p verde
			p negro
			p negro
			p azul
			p rojo
			p blanco
			p negro
			p rojo
			p negro
			p rojo
			p gris
			p negro
			p amarillo
			p blanco
			p negro
			p blanco
			p negro
			p rojo
			p blanco
			p verde
			p rojo
			p negro
			p rojo
			p amarillo
			p blanco
			p rosado
			p blanco
			p rojo
			p negro
			p blanco
			p blanco
			p azul
			p celeste
			p rosado
			p negro
			p blanco
			p rojo
			p negro
			p blanco
			p rosado
			p blanco
			p verde
			p blanco
			p azul
			p rojo
			p blanco
			p cafe
			p naranjo
			p blanco
			p blanco
			p negro
			p blanco
			p rojo
			p blanco
			p negro
			p rojo
			p blanco
			p azul
			p rojo
			p blanco
			p rojo
			p negro
			p blanco
			p rosado
			p blanco
			p verde
			p rojo
			p blanco
			p celeste
			p negro
			p blanco
			p verde
			p blanco
			p gris
			p rojo
			p negro
			p blanco
			p gris
			p negro
			p negro
			p naranjo
			p azul
			p gris
			p blanco
			p verde
			p blanco
			p negro
			p blanco
			p negro
			p blanco
			p blanco
			p cafe
			p blanco
			p cafe
			p negro
			p blanco
			p negro
			p rojo
			p azul
			p blanco
			p rojo
			p negro
			p azul
			p rojo
			p blanco
			p gris
			p blanco
			p negro
			p gris
			p blanco
			p celeste
			p blanco
			p azul
			p blanco
			p burdeo
			p blanco
			p negro
			p celeste
			p blanco
			p negro
			p rosado
			p blanco
			p durazno
			p blanco
			p negro
			p arcoiris
			p blanco
			p rosado
			p arcoiris
			p blanco
			p rosado
			p blanco
			p rosado
			p azul
			p negro
			p blanco
			p gris
			p rojo
			p blanco
			p cafe
			p rojo
			p blanco
			p rojo
			p blanco
			p negro
			p rojo
			p negro
			p rojo
			p fluor
			p cyan
			p blanco
			p morado
			p blanco
			p negro
			p rojo
			p blanco
			p negro
			p negro
			p rosado
			p celeste
			p blanco
			p blanco
			p arcoiris
			p negro
			p blanco
			p blanco
			p arcoiris
			p negro
			p arcoiris
			p dorado
			p blanco
			p gris
			p blanco
			p amarillo
			p blanco
			p rosado
			p gris
			p negro
			p blanco
			p cafe
			p negro
			p blanco
			p negro
			p negro
			p amarillo
			p blanco
			p negro
			p rojo
			p negro
			p rojo
			p negro
			p negro
			p naranjo
			p gris
			p negro
			p negro
			p verde
			p blanco
			p blanco
			p transparente
			p negro
			p rojo
			p negro
			p rojo
			p blanco
			p gris
			p naranjo
			p blanco
			p negro
			p naranjo
			p negro
			p amarillo
			p blanco
			p negro
			p gris
			p amarillo
			p negro
			p blanco
			p blanco
			p negro
			p naranjo
			p verde
			p negro
			p blanco
			p naranjo
			p verde
			p negro
			p azul
			p rojo
			p fluor
			p fluor
			p cafe
			p burdeo
			p blanco
			p negro
			p rosado
			p blanco
			p blanco
			p negro
			p rojo
			p fluor
			p fluor
			p blanco
			p amarillo
			p blanco
			p azul
			p rojo
			p blanco
			p negro
			p amarillo
			p blanco
			p azul
			p rojo
			p blanco
			p verde
			p celeste
			p gris
			p negro
			p amarillo
			p morado
			p rojo
			p amarillo
			p blanco
			p negro
			p rojo
			p blanco
			p arcoiris
			p cafe
			p negro
			p blanco
			p rosado
			p negro
			p blanco
			p rosado
			p blanco
			p gris
			p azul
			p negro
			p gris
			p blanco
			p cafe
			p negro
			p blanco
			p negro
			p gris
			p blanco
			p azul
			p naranjo
			p blanco
			p verde
			p blanco
			p rojo
			p verde
			p naranjo
			p blanco
			p gris
			p naranjo
			p blanco
			p gris
			p blanco
			p negro
			p cafe
			p rojo
			p blanco
			p naranjo
			p cafe
			p celeste
			p naranjo
			p blanco
			p negro
			p gris
			p blanco
			p arcoiris
			p gris
			p azul
			p cafe
			p amarillo
			p azul
			p gris
			p negro
			p fluor
			p amarillo
			p negro
			p cafe
			p negro
			p blanco
			p naranjo
			p verde
			p blanco
			p negro
			p azul
			p blanco
			p rojo
			p negro
			p celeste
			p blanco
			p blanco
			p rojo
			p negro
			p azul
			p rojo
			p blanco
			p menta
			p negro
			p rojo
			p azul
			p cafe
			p cafe
			p gris
			p cafe
			p negro
			p rojo
			p blanco
			p azul
			p rojo
			p blanco
			p negro
			p blanco
			p cafe
			p negro
			p naranjo
			p rosado
			p blanco
			p rosado
			p rosado
			p gris
			p blanco
			p rosado
			p blanco
			p blanco
			p morado
			p cafe
			p negro
			p blanco
			p azul
			p blanco
			p rojo
			p blanco
			p durazno
			p blanco
			p cafe
			p naranjo
			p blanco
			p negro
			p cafe
			p gris
			p blanco
			p azul
			p verde
			p rojo
			p azul
			p blanco
			p negro
			p arcoiris
			p negro
			p blanco
			p negro
			p blanco
			p rojo
			p negro
			p negro
			p blanco
			p rojo
			p blanco
			p verde
			p blanco
			p rojo
			p blanco
			p negro
			p negro
			p naranjo
			p blanco
			p blanco
			p naranjo
			p celeste
			p rosado
			p negro
			p blanco
			p naranjo
			p celeste
			p rosado
			p negro
			p blanco
			p menta
			p arcoiris
			p negro
			p verde
			p naranjo
			p azul
			p rojo
			p negro
			p blanco
			p rosado
			p negro
			p blanco
			p azul
			p blanco
			p arcoiris
			p blanco
			p rosado
			p menta
			p blanco
			p rosado
			p blanco
			p rosado
			p dorado
			p blanco
			p burdeo
			p cafe
			p blanco
			p arcoiris
			p verde
			p cafe
			p blanco
			p negro
			p cafe
			p negro
			p rojo
			p blanco
			p burdeo
			p rojo
			p blanco
			p verde
			p blanco
			p cafe
			p blanco
			p negro
			p blanco
			p blanco
			p blanco
			p negro
			p negro
			p naranjo
			p cafe
			p blanco
			p cafe
			p blanco
			p negro
			p blanco
			p negro
			p negro
			p naranjo
			p blanco
			p arcoiris
			p blanco
			p rojo
			p blanco
			p azul
			p gris
			p negro
			p verde
			p azul
			p rojo
			p negro
			p blanco
			p rojo
			p blanco
			p rojo
			p cafe
			p cafe
			p negro
			p cafe
			p azul
			p blanco
			p azul
			p blanco
			p gris
			p blanco
			p verde
			p blanco
			p cafe
			p blanco
			p rojo
			p blanco
			p cafe
			p cafe
			p negro
			p naranjo
			p gris
			p naranjo
			p cafe
			p negro
			p blanco
			p blanco
			p naranjo
			p gris
			p negro
			p blanco
			p gris
			p negro
			p rosado
			p morado
			p blanco
			p blanco
			p negro
			p celeste
			p naranjo
			p blanco
			p negro
			p negro
			p celeste
			p gris
			p blanco
			p blanco
			p gris
			p rosado
			p blanco
			p celeste
			p verde
			p blanco
			p naranjo
			p transparente
			p negro
			p gris
			p blanco
			p gris
			p negro
			p blanco
			p gris
			p blanco
			p azul
			p blanco
			p blanco
			p negro
			p verde
			p dorado
			p blanco
			p rosado
			p amarillo
			p menta
			p blanco
			p rosado
			p blanco
			p cafe
			p blanco
			p negro
			p naranjo
			p rosado
			p blanco
			p negro
			p blanco
			p morado
			p cafe
			p amarillo
			p celeste
			p cafe
			p rosado
			p blanco
			p blanco
			p rosado
			p negro
			p blanco
			p negro
			p blanco
			p rojo
			p negro
			p blanco
			p amarillo
			p blanco
			p negro
			p blanco
			p rosado
			p morado
			p celeste
			p negro
			p blanco
			p azul
			p blanco
			p blanco
			p arcoiris
			p gris
			p negro
			p rojo
			p blanco
			p blanco
			p naranjo
			p rojo
			p celeste
			p vainilla
			p vainilla
			p blanco
			p naranjo
			p rosado
			p amarillo
			p rojo
			p gris
			p blanco
			p negro
			p gris
			p blanco
			p blanco
			p menta
			p gris
			p negro
			p blanco
			p blanco
			p rosado
			p blanco
			p negro
			p negro
			p rojo
			p blanco
			p celeste
			p cafe
			p blanco
			p celeste
			p blanco
			p blanco
			p morado
			p amarillo
			p blanco
			p gris
			p negro
			p blanco
			p celeste
			p negro
			p blanco
			p negro
			p blanco
			p blanco
			p rosado
			p blanco
			p negro
			p celeste
			p fluor
			p blanco
			p arcoiris
			p blanco
			p negro
			p blanco
			p verde
			p amarillo
			p celeste
			p negro
			p blanco
			p rosado
			p azul
			p rojo
			p negro
			p blanco
			p blanco
			p azul
			p rojo
			p blanco
			p cafe
			p naranjo
			p blanco
			p arcoiris
			p blanco
			p rosado
			p gris
			p blanco
			p rojo
			p blanco
			p negro
			p rosado
			p menta
			p celeste
			p blanco
			p morado
			p menta
			p blanco
			p rosado
			p naranjo
			p blanco
			p verde
			p fluor
			p durazno
			p blanco
			p blanco
			p negro
			p blanco
			p verde
			p rojo
			p blanco
			p azul
			p cafe
			p blanco
			p negro
			p verde
			p gris
			p blanco
			p negro
			p cafe
			p cafe
			p amarillo
			p dorado
			p blanco
			p morado
			p rosado
			p negro
			p blanco
			p blanco
			p transparente
			p amarillo
			p negro
			p verde
			p rojo
			p naranjo
			p blanco
			p cafe
			p rosado
			p azul
			p blanco
			p blanco
			p negro
			p blanco
			p negro
			p rojo
			p amarillo
			p verde
			p blanco
			p celeste
			p fluor
			p blanco
			p durazno
			p amarillo
			p blanco
			p rojo
			p celeste
			p blanco
			p celeste
			p fluor
			p rosado
			p negro
			p rojo
			p celeste
			p morado
			p negro
			p negro
			p blanco
			p negro
			p blanco
			p negro
			p dorado
			p negro
			p blanco
			p rosado
			p azul
			p negro
			p blanco
			p menta
			p negro
			p blanco
			p arcoiris
			p blanco
			p naranjo
			p negro
			p gris
			p blanco
			p negro
			p blanco
			p blanco
			p morado
			p negro
			p blanco
			p naranjo
			p azul
			p negro
			p negro
			p blanco
			p blanco
			p negro
			p naranjo
			p rosado
			p blanco
			p transparente
			p rosado
			p blanco
			p fluor
			p negro
			p blanco
			p negro
			p blanco
			p cafe
			p naranjo
			p blanco
			p naranjo
			p transparente
			p negro
			p fluor
			p rosado
			p blanco
			p blanco
			p transparente
			p gris
			p negro
			p arcoiris
			p durazno
			p blanco
			p negro
			p negro
			p amarillo
			p blanco
			p negro
			p azul
			p naranjo
			p azul
			p rosado
			p blanco
			p cafe
			p blanco
			p blanco
			p morado
			p negro
			p morado
			p blanco
			p negro
			p naranjo
			p negro
			p rojo
			p blanco
			p fluor
			p azul
			p blanco
			p naranjo
			p blanco
			p negro
			p rojo
			p blanco
			p blanco
			p negro
			p rojo
			p negro
			p fluor
			p gris
			p gris
			p blanco
			p cafe
			p naranjo
			p blanco
			p gris
			p negro
			p blanco
			p rojo
			p azul
			p transparente
			p blanco
			p morado
			p celeste
			p rojo
			p gris
			p negro
			p gris
			p negro
			p durazno
			p negro
			p cyan
			p negro
			p rojo
			p negro
			p dorado
			p negro
			p blanco
			p naranjo
			p gris
			p negro
			p blanco
			p rojo
			p transparente
			p blanco
			p negro
			p rojo
			p negro
			p gris
			p negro
			p azul
			p rojo
			p negro
			p celeste
			p celeste
			p rosado
			p amarillo
			p menta
			p blanco
			p burdeo
			p negro
			p blanco
			p negro
			p rojo
			p blanco
			p negro
			p cafe
			p blanco
			p negro
			p negro
			p negro
			p negro
			p rojo
			p blanco
			p rojo
			p negro
			p blanco
			p blanco
			p amarillo
			p negro
			p cafe
			p blanco
			p negro
			p blanco
			p amarillo
			p morado
			p durazno
			p negro
			p blanco
			p dorado
			p negro
			p verde
			p blanco
			p negro
			p verde
			p naranjo
			p blanco
			p naranjo
			p blanco
			p negro
			p negro
			p rojo
			p blanco
			p blanco
			p negro
			p gris
			p verde
			p negro
			p negro
			p rojo
			p rosado
			p negro
			p morado
			p negro
			p verde
			p negro
			p blanco
			p verde
			p negro
			p blanco
			p negro
			p plateado
			p rojo
			p negro
			p blanco
			p rojo
			p morado
			p negro
			p blanco
			p negro
			p amarillo
			p morado
			p blanco
			p blanco
			p negro
			p cafe
			p blanco
			p negro
			p rojo
			p celeste
			p azul
			p blanco
			p negro
			p verde
			p cafe
			p negro
			p gris
			p rojo
			p negro
			p blanco
			p negro
			p azul
			p blanco
			p azul
			p negro
			p gris
			p blanco
			p negro
			p rojo
			p blanco
			p celeste
			p azul
			p negro
			p blanco
			p rosado
			p blanco
			p azul
			p gris
			p azul
			p blanco
			p blanco
			p negro
			p arcoiris
			p blanco
			p negro
			p amarillo
			p negro
			p dorado
			p negro
			p celeste
			p blanco
			p negro
			p rojo
			p blanco
			p blanco
			p negro
			p plateado
			p negro
			p cafe
			p blanco
			p negro
			p blanco
			p gris
			p rojo
			p negro
			p rojo
			p blanco
			p rosado
			p celeste
			p morado
			p negro
			p verde
			p blanco
			p blanco
			p amarillo
			p celeste
			p amarillo
			p negro
			p gris
			p blanco
			p negro
			p gris
			p blanco
			p negro
			p blanco
			p negro
			p rojo
			p arcoiris
			p negro
			p amarillo
			p celeste
			p blanco
			p negro
			p negro
			p rojo
			p blanco
			p azul
			p negro
			p blanco
			p rojo
			p negro
			p blanco
			p rojo
			p negro
			p gris
			p blanco
			p celeste
			p blanco
			p naranjo
			p negro
			p blanco
			p negro
			p amarillo
			p blanco
			p negro
			p fluor
			p blanco
			p negro
			p negro
			p rojo
			p blanco
			p negro
			p gris
			p menta
			p negro
			p blanco
			p rosado
			p rosado
			p blanco
			p blanco
			p arcoiris
			p blanco
			p rojo
			p negro
			p gris
			p negro
			p gris
			p negro
			p blanco
			p negro
			p gris
			p negro
			p rojo
			p blanco
			p negro
			p gris
			p blanco
			p negro
			p negro
			p plateado
			p negro
			p blanco
			p gris
			p azul
			p celeste
			p blanco
			p rojo
			p negro
			p plateado
			p blanco
			p negro
			p celeste
			p gris
			p blanco
			p fluor
			p blanco
			p negro
			p dorado
			p negro
			p verde
			p naranjo
			p negro
			p gris
			p negro
			p blanco
			p negro
			p blanco
			p cafe
			p negro
			p gris
			p verde
			p blanco
			p rosado
			p blanco
			p negro
			p arcoiris
			p blanco
			p negro
			p menta
			p fluor
			p naranjo
			p blanco
			p negro
			p negro
			p blanco
			p rosado
			p negro
			p blanco
			p naranjo
			p negro
			p blanco
			p negro
			p dorado
			p blanco
			p negro
			p rosado
			p blanco
			p negro
			p negro
			p blanco
			p cafe
			p blanco
			p gris
			p negro
			p negro
			p blanco
			p gris
			p cafe
			p gris
			p blanco
			p blanco
			p negro
			p blanco
			p verde
			p morado
			p rosado
			p blanco
			p negro
			p celeste
			p rojo
			p blanco
			p rosado
			p blanco
			p negro
			p blanco
			p negro
			p rojo
			p blanco
			p negro
			p amarillo
			p negro
			p rojo
			p blanco
			p negro
			p azul
			p dorado
			p blanco
			p negro
			p azul
			p negro
			p blanco
			p blanco
			p rojo
			p negro
			p blanco
			p negro
			p gris
			p blanco
			p negro
			p rojo
			p negro
			p blanco
			p negro
			p rojo
			p cafe
			p dorado
			p cafe
			p verde
			p negro
			p blanco
			p rojo
			p blanco
			p negro
			p rojo
			p blanco
			p negro
			p blanco
			p negro
			p celeste
			p azul
			p rosado
			p cafe
			p blanco
			p negro
			p fluor
			p dorado
			p negro
			p blanco
			p blanco
			p negro
			p blanco
			p rojo
			p negro
			p blanco
			p negro
			p rojo
			p amarillo
			p azul
			p dorado
			p blanco
			p negro
			p azul
			p celeste
			p amarillo
			p negro
			p naranjo
			p blanco
			p blanco
			p negro
			p gris
			p blanco
			p negro
			p amarillo
			p celeste
			p morado
			p blanco
			p negro
			p vainilla
			p arcoiris
			p cafe
			p blanco
			p negro
			p blanco
			p azul
			p negro
			p gris
			p celeste
			p blanco
			p negro
			p rojo
			p azul
			p negro
			p plateado
			p blanco
			p negro
			p rojo
			p blanco
			p negro
			p rojo
			p verde
			p blanco
			p amarillo
			p morado
			p celeste
			p rojo
			p negro
			p rojo
			p blanco
			p negro
			p negro
			p cafe
			p blanco
			p blanco
			p negro
			p rojo
			p rojo
			p negro
			p gris
			p arcoiris
			p negro
			p negro
			p blanco
			p amarillo
			p blanco
			p gris
			p blanco
			p negro
			p blanco
			p negro
			p blanco
			p morado
			p negro
			p negro
			p rojo
			p blanco
			p morado
			p amarillo
			p negro
			p gris
			p rojo
			p blanco
			p negro
			p gris
			p gris
			p amarillo
			p naranjo
			p verde
			p blanco
			p negro
			p gris
			p celeste
			p negro
			p blanco
			p verde
			p azul
			p burdeo
			p rojo
			p negro
			p amarillo
			p negro
			p negro
			p gris
			p blanco
			p negro
			p blanco
			p azul
			p blanco
			p negro
			p naranjo
			p negro
			p blanco
			p negro
			p gris
			p blanco
			p negro
			p rosado
			p azul
			p negro
			p blanco
			p negro
			p amarillo
			p blanco
			p negro
			p azul
			p rojo
			p blanco
			p azul
			p negro
			p blanco
			p rojo
			p blanco
			p negro
			p arcoiris
			p blanco
			p gris
			p blanco
			p negro
			p gris
			p morado
			p blanco
			p rojo
			p negro
			p gris
			p plateado
			p blanco
			p negro
			p rosado
			p vainilla
			p negro
			p celeste
			p blanco
			p blanco
			p dorado
			p rojo
			p negro
			p blanco
			p verde
			p negro
			p rosado
			p blanco
			p negro
			p celeste
			p blanco
			p gris
			p blanco
			p rojo
			p blanco
			p rojo
			p azul
			p blanco
			p amarillo
			p blanco
			p negro
			p blanco
			p negro
			p dorado
			p blanco
			p negro
			p cafe
			p negro
			p gris
			p rojo
			p celeste
			p negro
			p blanco
			p azul
			p amarillo
			p negro
			p amarillo
			p blanco
			p amarillo
			p cafe
			p rosado
			p blanco
			p rojo
			p blanco
			p rojo
			p negro
			p blanco
			p negro
			p gris
			p negro
			p rojo
			p celeste
			p verde
			p blanco
			p negro
			p rojo
			p blanco
			p negro
			p naranjo
			p negro
			p dorado
			p blanco
			p negro
			p negro
			p gris
			p rojo
			p negro
			p negro
			p naranjo
			p negro
			p verde
			p blanco
			p plateado
			p azul
			p blanco
			p blanco
			p negro
			p rojo
			p blanco
			p negro
			p dorado
			p negro
			p celeste
			p morado
			p naranjo
			p blanco
			p negro
			p celeste
			p blanco
			p celeste
			p negro
			p naranjo
			p blanco
			p negro
			p rojo
			p blanco
			p negro
			p blanco
			p azul
			p blanco
			p rosado
			p menta
			p amarillo
			p negro
			p blanco
			p negro
			p rojo
			p blanco
			p negro
			p azul
			p blanco
			p azul
			p verde
			p blanco
			p cafe
			p blanco
			p negro
			p plateado
			p blanco
			p azul
			p negro
			p cafe
			p amarillo
			p celeste
			p rosado
			p arcoiris
			p rosado
			p blanco
			p negro
			p negro
			p blanco
			p rosado
			p rojo
			p blanco
			p negro
			p verde
			p negro
			p negro
			p blanco
			p gris
			p rosado
			p blanco
			p rosado
			p blanco
			p rosado
			p negro
			p negro
			p rosado
			p blanco
			p azul
			p rojo
			p blanco
			p negro
			p naranjo
			p blanco
			p negro
			p blanco
			p gris
			p blanco
			p celeste
			p blanco
			p arcoiris
			p gris
			p blanco
			p cafe
			p blanco
			p rojo
			p negro
			p blanco
			p rojo
			p blanco
			p plateado
			p blanco
			p rojo
			p celeste
			p blanco
			p azul
			p rojo
			p gris
			p blanco
			p menta
			p blanco
			p rosado
			p negro
			p blanco
			p verde
			p blanco
			p blanco
			p negro
			p naranjo
			p negro
			p blanco
			p rojo
			p azul
			p negro
			p blanco
			p celeste
			p blanco
			p naranjo
			p negro
			p gris
			p fluor
			p blanco
			p menta
			p blanco
			p azul
			p fluor
			p negro
			p gris
			p celeste
			p amarillo
			p blanco
			p verde
			p arcoiris
			p azul
			p rosado
			p blanco
			p blanco
			p azul
			p rojo
			p negro
			p blanco
			p rojo
			p verde
			p dorado
			p blanco
			p azul
			p gris
			p verde
			p blanco
			p negro
			p rojo
			p blanco
			p gris
			p vainilla
			p blanco
			p plateado
			p blanco
			p azul
			p rojo
			p amarillo
			p rosado
			p burdeo
			p gris
			p negro
			p gris
			p rosado
			p blanco
			p negro
			p azul
			p blanco
			p blanco
			p gris
			p fluor
			p blanco
			p menta
			p negro
			p vainilla
			p cafe
			p blanco
			p negro
			p verde
			p morado
			p blanco
			p negro
			p blanco
			p rosado
			p negro
			p rojo
			p rosado
			p cafe
			p negro
			p gris
			p blanco
			p dorado
			p blanco
			p rosado
			p azul
			p blanco
			p verde
			p blanco
			p rojo
			p azul
			p azul
			p celeste
			p rosado
			p gris
			p verde
			p blanco
			p rojo
			p negro
			p gris
			p blanco
			p gris
			p naranjo
			p blanco
			p morado
			p gris
			p verde
			p blanco
			p negro
			p rosado
			p plateado
			p blanco
			p negro
			p gris
			p negro
			p gris
			p blanco
			p blanco
			p negro
			p menta
			p blanco
			p blanco
			p negro
			p celeste
			p blanco
			p gris
			p blanco
			p verde
			p fluor
			p blanco
			p verde
			p menta
			p fluor
			p cafe
			p blanco
			p durazno
			p amarillo
			p azul
			p cafe
			p celeste
			p verde
			p morado
			p blanco
			p rojo
			p negro
			p verde
			p rosado
			p celeste
			p morado
			p menta
			p celeste
			p morado
			p rosado
			p blanco
			p amarillo
			p naranjo
			p menta
			p blanco
			p negro
			p negro
			p gris
			p morado
			p blanco
			p negro
			p celeste
			p morado
			p blanco
			p rosado
			p verde
			p arcoiris
			p blanco
			p negro
			p fluor
			p blanco
			p verde
			p negro
			p negro
			p fluor
			p blanco
			p azul
			p naranjo
			p blanco
			p negro
			p naranjo
			p celeste
			p azul
			p blanco
			p naranjo
			p azul
			p celeste
			p rojo
			p negro
			p plateado
			p cafe
			p gris
			p blanco
			p verde
			p blanco
			p negro
			p rosado
			p blanco
			p rojo
			p blanco
			p rojo
			p blanco
			p negro
			p gris
			p blanco
			p rojo
			p amarillo
			p negro
			p blanco
			p cafe
			p negro
			p gris
			p rojo
			p blanco
			p negro
			p blanco
			p negro
			p fluor
			p blanco
			p negro
			p verde
			p gris
			p cafe
			p fluor
			p morado
			p blanco
			p arcoiris
			p blanco
			p naranjo
			p celeste
			p cafe
			p azul
			p rojo
			p negro
			p gris
			p blanco
			p fluor
			p verde
			p naranjo
			p fluor
			p blanco
			p rosado
			p negro
			p fluor
			p blanco
			p rojo
			p gris
			p fluor
			p blanco
			p negro
			p dorado
			p blanco
			p negro
			p gris
			p blanco
			p rosado
			p negro
			p blanco
			p verde
			p fluor
			p verde
			p blanco
			p blanco
			p naranjo
			p blanco
			p gris
			p blanco
			p negro
			p gris
			p blanco
			p negro
			p morado
			p blanco
			p burdeo
			p blanco
			p negro
			p arcoiris
			p cafe
			p blanco
			p negro
			p cafe
			p negro
			p gris
			p fluor
			p blanco
			p azul
			p blanco
			p negro
			p gris
			p negro
			p durazno
			p arcoiris

		script( type="text/javascript" ).
			$( document ).ready(function(){
			
				var getVisibles = function(){
					var visibles = $( ".colores > p:visible" ).length;
					$( ".admin p.cantidad span" ).html( visibles );
				};
				getVisibles();
				
				$( ".admin button" ).click(function(){
				
					var colores = [ "negro","amarillo","rojo","blanco","rosado","celeste","naranjo","menta","morado","verde","fluor","burdeo","cafe","gris","dorado","azul","arcoiris","transparente","cyan","plateado","vainilla","durazno" ];
					
					$.each( $( ".colores > p" ) , function(){
						var colorEnDuda = $( this ).html();
						for ( var count = 0; count <= colores.length-1; count++ ) {
							if ( colorEnDuda == colores[count] ) {
								$( this ).addClass( "si" );
							} else {
								$( this ).addClass( "no" );
							};
						};
					});
					
					getVisibles();
				
				});
				
			});

		include ../_pug/_component/footer
		