doctype html
html(lang="es")
	head
	
		include _component/head
	
	body
		
		script(src="js/functions.min.js")
		
		include _component/analytics
		
		include _component/barraSuperior
		include _component/header
		include _component/carrusel
		
		include _component/marcasEnLista
		
		//- include _component/recienLLegados
		//- include _component/filtros
		//- include _component/productos
		
		include _component/footer
		
		//- script(src="js/script.min.js")
