doctype html
html(lang="es")
	head
	
		include _component/head
	
	body
		
		script( src="../js/functions.min.js" )
		
		include _component/analytics
		
		include _component/barraSuperior
		include _component/header
		
		div.marca
			style( type="text/css" ).
				div.marca {}
				div.marca > .titulo {
					background: #00bcf2;
					height: 60px;
				}
				div.marca > .titulo img {
					max-width: 50px;
					margin: 0 auto;
					display: block;
					padding-top: 5px;
				}
			div.titulo
				img.lazyload( data-src="" alt="" )
			script( type="text/javascript" ).
				var marca = location.href.split( "marca=" )[1];
				$( ".marca > .titulo > img" ).attr( "src" , `../imagenes/marcas/${marca}-blanco.svg` );
				$( ".marca > .titulo > img" ).attr( "alt" , marca );
			
			.busquedaBanner
				link( rel="stylesheet" href="../css/busqueda.min.css" )
				h3.resultados 
			
		include _component/filtros	
			
		.productos
			link( rel="stylesheet" href="../css/productos.min.css" )
			
			ul
			img.cargando( src="../imagenes/loading.gif" alt="Cargando ..." )
			//- TRAE DATA
			script( type="text/javascript" ).
				var marca = location.href.split( "?marca=" )[1];
				getProdByMarca( ".productos > ul" , marca );
				
		include _component/footer
		