img.cargando {
  width: 50px;
  margin: 30px auto;
  display: block;
}

.cerebro {
  width: 820px;
  margin: 20px auto 0;
}

.cerebro .bloqueSombra {
  background: white;
  -webkit-box-shadow: 0 8px 26px -24px black;
          box-shadow: 0 8px 26px -24px black;
  border-radius: 8px;
  padding: 4px 10px;
  margin-bottom: 20px;
}

.cerebro .resumen {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  margin-left: 20px;
}

.cerebro .resumen:first-of-type {
  margin-left: 0;
}

.cerebro .resumen > p {
  text-align: center;
  margin: 0;
}

.cerebro .resumen > p.titulo {
  font-weight: 400;
}

.cerebro .resumen > p.numero {
  font-weight: 500;
  font-size: 2.8em;
}

.cerebro .ventas {
  position: relative;
}

.cerebro .ventas > h5 {
  padding-left: 40px;
  padding-top: 10px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-size: 1.4em;
  margin: 0;
}

.cerebro .ventas > .buscador {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 20px;
}

.cerebro .ventas > .buscador > input {
  height: 40px;
  padding: 0px 5px;
  outline: none;
}

.cerebro .ventas > ul > li {
  list-style: none;
}

.cerebro .ventas > ul > li > img {
  width: 10px;
}

@media (max-width: 850px) {
  .cerebro {
    width: 440px;
  }

  .cerebro .resumen {
    width: 100%;
    margin: 0 auto 10px;
  }

  .cerebro .ventas {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .cerebro {
    width: 90%;
  }

  .cerebro .resumen,
.cerebro .ventas {
    width: 90%;
  }
}