doctype html
html(lang="es")
	head
		
		include ../_pug/_component/head
		
	body
		
		script(src="../js/functions.min.js")
		
		include ../_pug/_component/analytics
		
		include ../_pug/_component/barraSuperior
		include ../_pug/_component/header
		
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
		.admin
			p.cantidad
				span 0
				|  visibles
			button.contar contar
			button.activar activar
				
		style( type="text/css" ).
			.admin {
				width: 160px;
				margin: 0 auto;
			}
			.admin > p {
				text-align: center;
			}
			.admin > button {
				width: 48%;
				margin: 0;
				padding: 0;
				display: inline-block;
				height: 40px;
				cursor: pointer;
			}
			.colores {
				width: 400px;
				margin: 20px auto 0;
			}
			.colores textarea {
				width: 100%;
				height: 300px;
			}

		.colores
			textarea
				| blanco
				| H
				| O
				| L
				| negro
				| negro
				| blanco
				| A
				| !!
	
		script( type="text/javascript" ).
			var getVisibles = function(){
				var visibles = $( ".colores textarea" ).val().split( "\n" ).length;
				$( ".admin p.cantidad span" ).html( visibles );
			};getVisibles();
			
			$( ".colores textarea" ).keyup(function(){
				getVisibles();
			});
				
			$( ".admin button.activar" ).click(function(){
			
				var colores = [ "negro","amarillo","rojo","blanco","rosado","celeste","naranjo","menta","morado","verde","fluor","burdeo","cafe","gris","dorado","azul","arcoiris","transparente","cyan","plateado","vainilla","durazno" ];
				//- var colores = [ "blanco" , "negro" , "rojo" ];
				var parrafo = $( ".colores textarea" ).val();
				for( var count = 0; count <= colores.length-1; count++ ) {
					parrafo = parrafo.replaceAll( colores[count] , "" );
					console.log( `Color: ${colores[count]}` )
					if( count == colores.length-1 ) {
						console.log( parrafo )
						parrafo = parrafo.replaceAll( "\n" , "" );
						parrafo = parrafo.replaceAll( " " , "" );
						$( ".colores textarea" ).val( parrafo );
						console.log( "si termine" );
					} else {
						console.log( "no termine" );
					}
				}
				
				getVisibles();
			
			});
				
		include ../_pug/_component/footer
		