
@import "variables";

.filtros {
	width: 99%;
	padding: 5px;
	margin: 0 auto;
	display: block;
	background: white;
	padding-bottom: 0px;
}
.filtros > p {
	text-align: center;
	display: inline-block;
	position: relative;
	top: -30px;
	margin-left: 20px;
}
.filtros > fieldset {
	display: inline-block;
	border: 1px solid $d;
	margin-left: 10px;
}
.filtros > fieldset legend {
	border-color: $d;
}
.filtros > fieldset select {
	padding: 10px;
	text-transform: uppercase;
	border: none;
	outline: none;
	cursor: pointer;
}
.filtros > button {
	border: 1px solid #dddddd;
	margin-left: 10px;
	height: 60px;
	width: 100px;
	text-align: center;
	display: inline-block;
	position: relative;
	top: -27px;
	cursor: pointer;
}
	.filtros > button:hover {
		background: whitesmoke;
	}

@media ( max-width: $MQtablet ) {}

@media ( max-width: $MQsmartphone ) {}