
@import "variables";

.filtros {
	width: 99%;
	padding: 5px;
	margin: 0 auto;
	display: block;
	background: white;
	padding-bottom: 0px;
}
.filtros > p {
	text-align: center;
	display: inline-block;
	position: relative;
	top: -30px;
	margin-left: 20px;
}
.filtros > fieldset {
	display: inline-block;
	border: 1px solid $d;
	margin-left: 20px;
}
.filtros > fieldset legend {
	border-color: $d;
}
.filtros > fieldset select {
	padding: 10px;
	text-transform: uppercase;
	border: none;
	outline: none;
	cursor: pointer;
}

@media ( max-width: $MQtablet ) {}

@media ( max-width: $MQsmartphone ) {}