
@import "variables";

.filtros {
	width: 99%;
	padding: 5px;
	margin: 0 auto;
	display: block;
	background: white;
	padding-bottom: 0px;
}
.filtros > p {
	text-align: center;
	display: inline-block;
	position: relative;
	top: -30px;
	margin-left: 20px;
}
.filtros > fieldset {
	display: inline-block;
	border: 1px solid $d;
	margin-left: 10px;
}
.filtros > fieldset legend {
	border-color: $d;
}
.filtros > fieldset select {
	padding: 10px;
	text-transform: uppercase;
	border: none;
	outline: none;
	cursor: pointer;
}
.filtros > button {
	border: 1px solid #dddddd;
	margin-left: 10px;
	height: 60px;
	width: 100px;
	text-align: center;
	display: inline-block;
	position: relative;
	top: -27px;
	cursor: pointer;
}
	.filtros > button:hover {
		background: whitesmoke;
	}

@media ( max-width: $MQtablet ) {
	.filtros {
		padding: 20px 0;
		height: 150px;
	}
	.filtros > p {
		float: left;
		top: 15px;
	}
	.filtros > button:first-of-type {
		display: block;
		margin-left: 70px;
		top: 0;
		float: left;
		clear: left;
	}
	.filtros > button {
		margin-left: 20px;
		position: static;
		float: left;
		margin-top: 20px;
	}
}

@media ( max-width: $MQsmartphone ) {
	.filtros {
		height: 10px;
	}
	.filtros[data-state=abierto] {
		height: 280px;
	}
	.filtros > p {
		background: $c;
		left: -20px;
		top: -30px;
		float: none;
		display: block;
		width: 100%;
		padding: 10px 0;
		text-transform: uppercase;
	}
	.filtros > p:before {
		content: "☰";
		padding-right: 10px;
	}
	.filtros > fieldset {
		margin-left: 0;
	}
	.filtros[data-state=cerrado] > fieldset ,
	.filtros[data-state=cerrado] > button:first-of-type ,
	.filtros[data-state=cerrado] > button {
		display: none;
	}
	.filtros[data-state=abierto] > fieldset ,
	.filtros[data-state=abierto] > button:first-of-type ,
	.filtros[data-state=abierto] > button {
		display: block;
	}
	.filtros > button.aplicar {
		float: left;
		margin: {
			top: 10px;
			left: 10px;
			bottom: 0;
		}
	}
	.filtros > button.limpiar {
		float: right;
		margin: {
			top: 10px;
			right: 10px;
			bottom: 0;
		}
	}
}
