
@import "variables";

footer {
	margin-top: 100px;
	background: rgb(235,243,183);
	background: -moz-linear-gradient(156deg, rgba(235,243,183,1) 0%, rgba(81,230,192,1) 100%);
	background: -webkit-linear-gradient(156deg, rgba(235,243,183,1) 0%, rgba(81,230,192,1) 100%);
	background: linear-gradient(156deg, rgba(235,243,183,1) 0%, rgba(81,230,192,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebf3b7",endColorstr="#51e6c0",GradientType=1);
}
footer .legal > ul {
	margin: 0;
	padding: 0;
	width: 50%;
	display: inline-block;
}
footer .legal > ul > li {
	list-style: none;
	display: inline-block;
}
footer .legal > ul.redes > li {
	float: right;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
footer .legal > ul.redes > li:hover {
	opacity: .6;
}
footer .legal > ul > li > a {
	margin: 0 auto;
	text-align: center;
	display: table;
	padding: 10px;
	color: black;
}
footer .legal > ul.redes > li > a {
	width: 100%;
	height: 100%;
	padding: 0;
}
footer .legal > ul > li > a:hover {
	color: $celesteOscuro;
}
footer .creditos {
	color: #ABA9A9;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 5px 0;
	font-size: 0.8em;
	background: #222;
}
footer .creditos > p {
	margin: 0;
}
footer .creditos > p > span {
	color:#FF4433;
	font-size: 1.7em;
}
footer .creditos > p > a {
	color: $celeste;
}
footer .creditos > p > a:hover {
	color: $celesteOscuro;
}
footer #subir {
	background: $celeste;
	width: 100px;
	height: 60px;
	position: fixed;
	bottom: 85px;
	right: 10px;
	cursor: pointer;
	display: none;
}
	footer #subir:hover {
		background: $celesteOscuro;
	}
footer #subir > img {
	width: 100%;
	height: 80%;
	margin-top: 5px;
}
#wsp {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
#wsp > a {
	text-decoration: none;
}
#wsp > a > p {
	background: white;
	border: 1px solid $d;
	padding: 10px;
	border-radius: 13px;
	position: absolute;
	color: black;
	top: -75px;
	right: 0;
	width: 145px;
	box-shadow: -1px 7px 9px -10px black;
	display:none;
}
#wsp > a > p > span {
	background: white;
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	transform: rotate(45deg);
	bottom: -10px;
	right: 20px;
}

@media ( max-width: 768px ) {
	#wsp > a > img {
		width: 60px;
		height: 60px;
	}
}