
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap');

header {
	background: transparent;
	position: absolute;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 20px;
}
header.nohome {
	background: white;
	position: relative;
	z-index: 1;
}
header .logo {
	width: 370px;
	height: auto;
	margin: 30px 0 0 20px;
	display: inline-block;
}
header .logo img {
	width: 100%;
}
header nav {
	float: right;
	display: inline-block;
	width: 400px;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	display: inline;
	padding: 0 20px;
	text-transform: uppercase;
}
header > div.categorias {
	float: right;
	margin: 20px 30px 0 20px;
	background: white;
	position: relative;
	width: 160px;
}
header > div.categorias > p {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	position: absolute;
	right: 10px;
	z-index: 2;
	font-size: 1.2em;
	margin-top: 11px;
	top: -7px;
}
header > div.categorias > p > img {
	width: 20px;
	margin-left: 10px;
	position: relative;
	top: 7px;
}
header > div.categorias > nav {
	display:none;
	width: 1160px;
	background: white;
	position: relative;
	top: 59px;
	z-index: 2;
	padding-bottom: 10px;
}
header > div.categorias > nav > a > img {
	float: left;
	margin: 0 0px 0 20px;
	width: 350px;
}
header > div.categorias > nav > div {
	padding: 0 20px 10px;
	width: 750px;
	float: right;
	margin-bottom: 30px;
}
header > div.categorias > nav > div:last-of-type {
	margin-bottom: 0;
}
header > div.categorias > nav > div > h3 {
	font-family: "Barlow",sans-serif;
	font-size: 2em;
	text-align: left;
	text-transform: uppercase;
	padding-left: 50px;
	font-weight: 300;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid $c;
}
header > div.categorias > nav > div > h3 img {
	width: 10px;
	margin-right: 10px;
}
header div.marcas > ul {
	padding: 0;
}
header div.marcas > ul > li {
	background: black;
	width: 30px;
	height: 70px;
	margin-bottom: 10px;
}
header div.marcas > ul > li > a > img {
	width: 140%;
	margin: 12px auto 0;
	position: relative;
	left: -8px;
}
header > div.categorias > nav > .seguimientoPedido > a {
	background: black;
	outline: none;
	padding: 4px 6px;
	color: white;
	font-size: 1.3em;
	text-decoration: none;
	height: 30px;
	display: block;
	width: 100px;
	text-align: center;
	line-height: 1.7em;
	margin-bottom: 20px;
}
header > div.categorias > nav > .seguimientoPedido > a:hover {
	background: $celesteOscuro;
}
header > div.categorias > nav > .colores > ul > li {
	padding: 0 2px;
}
header > div.categorias > nav > .colores > ul > li > a {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	border: 1px solid $d;
	border-radius: 50%;
}
header > div.categorias > nav > .colores > ul > li > a > span {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
div.categoriaFondo {
	background: #000;
	opacity: .8;
	position: fixed;
	top: 120px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
}
header .buscador {
	float: right;
	margin: 20px 10px 0 0;
	cursor: pointer;
}
	header .buscador:hover {
		opacity: .5;
	}
header .buscador > div {
	border: 1px solid black;
	border-radius: 10px;
	height: 40px;
}
header .buscador > div > input {
	height: 40px;
	width: 160px;
	background: none;
	border: none;
	outline: none;
	color: black;
	text-indent: 10px;
}
header .buscador > div > img {
	width: 20px;
	top: 5px;
	position: relative;
	padding-right: 3px;
}

// ==========================================================================================
// ==========================================================================================
// ==========================================================================================

@media ( max-width: $MQnotebook ) {
	header > div.categorias > nav {
		width: 780px;
	}
	header>div.categorias>nav>a>img {
		width: 200px;
	}
	header>div.categorias>nav>div {
		width: 520px;
	}
}
@media ( max-width: $MQtablet ) {
	header {
		background: white;
	}
	header .logo {
		display: block;
		margin-left: 5%;
		width: 47%;
		margin-top: 0;
		padding-top: 30px;
		display: inline-block;
		position: relative;
		z-index: 3;
	}
	header > div.categorias {
		width: 50px;
		height: 40px;
		margin: 20px 20px 0 0;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		z-index: 2;
	}
	header > div.categorias > p {
		font-size: 0;
	}
	header > div.categorias > nav {
		left: 20px;
		width: 100%;
		top: 110px;
	}
	header > div.categorias > nav > a {
		display: none;
	}
	header > div.categorias > nav > div {
		width: 100%;
		padding: 0;
	}
	header > div.categorias > nav > div > h3 {
		width: 90%;
		margin: 0 auto 10px;
		padding-bottom: 5px;
	}
	header > div.categorias > nav > div > ul {
		padding: 0 10px;
	}
	div.categoriaFondo {
		top: 190px;
	}
	header .buscador {
		margin: 20px auto 0;
		display: block;
		float: none;
		width: 90%;
		position: relative;
	}
	header .buscador > div > input {
		width: 90%;
	}
	header .buscador > div > img {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	header > div.categorias > nav > .seguimientoPedido > a {
		margin: 0 auto 20px;
		display: block;
	}
}
@media ( max-width: $MQsmartphone ) {
	header .logo {
		width: 60%;
		margin-top: -4px;
	}
	header .buscador img {
		width: 30px;
	}
}