
@import "variables";

.recienLLegados {
	background: white;
	width: 100%;
	margin: 10px auto;
	position: relative;
	display: inline-block;
	// height: 270px;
}
// .recienLLegados h3 {
// 	font-size: 1.3em;
// 	letter-spacing: 0.05em;
// 	text-align: center;
// 	font-weight: 300;
// 	text-transform: uppercase;
// }
// .recienLLegados > ul {
	// display: -webkit-box;
	// display: -ms-flexbox;
	// display: flex;
	// overflow: hidden;
	// overflow-x: scroll;
	// overflow-y: hidden;
	// white-space: nowrap;
	// height: 200px;
// }
.recienLLegados > ul > li > a {
	display: inline-block;
	// text-decoration: none;
	// width: 180px;
	// display: inline-block;
	// position: relative!important;
	// min-height: 246px;
	// width: 130px;
	// margin: 0 10px;
	// margin-bottom: 20px;
	// display: inline-block;
	// padding: 0;
	// vertical-align: top;
	// white-space: nowrap;
	// margin: 0 21px 80px;
	// display: inline-block;
	// margin: 0 20px 0 0;
}
.recienLLegados > ul > li > a:hover {
	opacity: .8;
}
.recienLLegados > ul > li > a > img {
	max-width: 120px;
	max-height: 80px;
	margin: 0 auto;
	display: block;
}
.recienLLegados > ul > li > a > p {
	text-align: center;
}
.recienLLegados > ul > li > a > p.modelo {
	color: black;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 0;
}
.recienLLegados > ul > li > a > p.marca {
	text-transform: capitalize;
	color: black;
	margin-top: 0;
}
.recienLLegados > ul > li > a > p.precio {
	font-weight: bold;
	font-size: 1.3em;
	margin: 4px 0;
	color: $rojoPrecio;
}
