$celesteClaro   : #7fddf9;
$celeste        : #00bcf2;
$celesteOscuro  : #0489af;
$rojoPrecio     : #BC272B;
$b              : #bbbbbb;
$c              : #cccccc;
$d              : #dddddd;

// MEDIA QUERIES
$MQpantalla         : 1650px;
$MQnotebook         : 1250px;
$MQtablet           : 850px;
$MQsmartphone       : 450px;


