$celesteClaro   : #7fddf9;
$celeste        : #00bcf2;
$celesteOscuro  : #0489af;
$rojoPrecio     : #BC272B;
$verde          : #39b54a;
$a              : #aaaaaa;
$b              : #bbbbbb;
$c              : #cccccc;
$d              : #dddddd;
$e              : #eeeeee;

// MEDIA QUERIES
$MQpantalla         : 1650px;
$MQnotebook         : 1250px;
$MQtablet           : 850px;
$MQsmartphone       : 450px;


// @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap');
// font-family: 'Barlow', sans-serif;
